<section  data-stellar-background-ratio="0.5" style="height: 100vh; padding-top: 100px; background-color: antiquewhite;" ng-controller="productdetails" >
    <div class="container" style="background-color: antiquewhite;">
        <h2>{{data.product_name}}</h2> 
        <div id="card" class="col-md-3" style="overflow: scroll;">          
              <div ng-repeat="x in data.img">
                <img src="http://localhost:8000/media/{{x.img}}" style="width: 100%;">
              </div>
        </div>
        <div class="col-md-8" style="overflow: scroll;">
            <p>{{data.product_description}}</p>
            <p>Avg Rating: {{reviews[0]}} <span class="glyphicon glyphicon-star-empty"></span></p>
            <form action="">
                <div class="form-group">
                  <label for="review">User Review:</label>
                  <textarea  type="text" class="form-control"  rows="5" id="review" ng-model="review"></textarea>
                </div>
                <div class="form-group">
                  <label for="rate">Rating:</label>
                  <input type="number" class="form-control" id="rate" max="5" min="1" ng-model="rating">
                </div>
                <button type="button" class="btn btn-default" ng-click="saveReview(review, rating)">Submit</button>
              </form> {{reviews1}}
            <h3>User Reviews</h3>
            <div id="reviews" ng-repeat="x in reviews[1]">
                <h4>{{x.name}}</h4>
                <p>{{x.review}}</p>
                <p>Rating: {{x.stars}} <span class="glyphicon glyphicon-star-empty"></span></p>
            </div>
            
        </div>    
    </div>
         
</section>